@media only screen and (max-device-width: 600px) {
  head {
    width: auto;
  }
  section {
    width: auto;
  }
}

html {
  scroll-behavior: smooth;
}

/*Configuração Body*/

.foto-perfil {
  height: 80%;
  width: 80%;
  max-width: 100%;
}

.pt-5, .py-5 {
  padding-top: 3rem!important;
  background: #190a2b;
}

.box-shadow{
  border-color: #00FF00;
  border-width: 3px;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
  text-transform: uppercase;
  font-size: large;
  padding-bottom: 30px;
}
.tituloPreto {
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;
  text-transform: uppercase;
  font-size: 100%;
  padding-bottom: 60px;
  font-weight: bold;
  text-align: center;
}

.corInicio {
  background-color: #190a2b;
}
.corPrimaria {
  background-color: #00FF00;
}

.mail{
  padding-bottom: 60px;
  color:black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;
}
.subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
  padding-bottom: 30px;
}

.jumbotron {
  margin-bottom: 0px;
}

h2 {
  padding-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Configuração botoes*/
#pedir {
  background-color: red;
  position: relative;
  left: 30px;
  bottom: -20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white !important;
  margin-left: -30px;
  border-radius: initial;
  }

#ingredientes {
  background-color: gray;
  position: relative;
  left: 30px;
  bottom: -20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white !important;
  margin-left: 60px;
  border: none;
}

#pop-up {
  border-radius: none;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white !important;
  margin-left: -30px;
}


.fa-whatsapp:before {
    content: "\f232";
    color: #00FF00;
}



/*Configuração Comentarios*/
.mb-0 {
  font-style: italic;
}
.blockquote-footer {
  padding-bottom: 60px;
}

/*Configuração Titulos*/
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 60px;
}
h5 {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Configuração Imagem*/
.card-img-top {
  object-fit: cover;
}

.lead {
  font-style: italic;
}

/*mapa*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Hovers*/

#mail:hover{
  color: blue;
  }

#pedir:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#ingredientes:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fa-border:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
